

.image_class{
    margin: 70px;
    width: 100%;
    overflow: hidden;

    transition: 0.3s;
}

.card_class{
    width: 70%;

}



.image_class:hover{
    transform: scale(1.1);
    z-index: 1;
}

.custom-modal .modal-header {
    background-color: transparent;
    border-bottom: none;
  }
  
  .custom-modal .modal-dialog {
    max-width: 90%;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-modal .modal-content {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-modal .modal-img {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }

  @media screen and (max-width: 768px) {
    .image_class{
      margin: 59px;
      width: 100%;
      overflow: hidden;
      
  
  }
  .mainthumb_class{
    overflow: hidden; 
   }
  }

  